/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Container and options styling */
.container {
    padding: 20px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.options a {
    text-decoration: none;
    color: rgb(55, 30, 70); 
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
    border: 2px solid rgb(55, 30, 70);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.options a:hover {
    background-color:rgb(55, 30, 70);
    color: white;
}
